{% extends "global/base.html" %}
{% load static %}

{% block title %}Contato{% endblock title %}

{% block content %}
    <main>
        <div class="container">
            <div class="d-sm-flex gap-2 align-items-center justify-content-center row">
                <div class="d-flex align-items-center justify-content-center flex-column col">
                    <img class="img-fluid w-75 d-none d-sm-block" src="{% static "img/contact.png" %}" alt="">
                    <div class="d-flex align-items-center justify-content-center gap-4">
                        <a class="text-primary fs-1" href="https://www.linkedin.com/in/lsstomas/"><i class="bi bi-linkedin"></i></a>
                        <a class="text-dark fs-1" href="https://github.com/lsstomas"><i class="bi bi-github"></i></a>
                        <a class="text-dark fs-1" href="mailto:taskify.adm@outlook.com"><i class="bi bi-envelope-fill"></i></a>
                    </div>
                </div>

                <form action="{% url "contact" %}" method="POST" class="col align-content-center justify-content-center p-5 w-50">
                    {% csrf_token %}
                    <h1 class="h1 mb-4 text-center">Entre em contato!</h1>
        
                    <input type="text" class="form-control my-3" id="name" name="name" placeholder="Nome"/>
                    <input type="text" class="form-control my-3" id="email" name="email" placeholder="E-mail"/>
                    <input type="text" class="form-control my-3" id="subject" name="subject" placeholder="Assunto"/>
                    <textarea name="message" id="message" class="form-control" rows="5" placeholder="Digite aqui sua mensagem"></textarea>
    

                    <button type="submit" class="mt-4 p-2 btn btn-primary w-100">Enviar Mensagem</button>
                </form>
            </div>
        </div>
    </main>
{% endblock content %}