{% load static %}

<nav class="navbar navbar-expand-lg fixed-top">
	<div class="container-fluid">
		<a class="navbar-brand fs-2 ms-5" href="{% url "home" %}">Taskify</a>

		<button
			class="navbar-toggler"
			type="button"
			data-bs-toggle="collapse"
			data-bs-target="#navbarNav"
			aria-controls="navbarNav"
			aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse justify-content-center ms-5" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link fs-5" id="home" href="{% url "home" %}">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link fs-5" id="tasks" href="{% url "tasks_list" %}">Tarefas</a>
				</li>
				<li class="nav-item">
					<a class="nav-link fs-5" id="contact" href="{% url "contact" %}">Contato</a>
				</li>
			</ul>
		</div>

		<form class="justify-content-end me-3">
			<a class="btn btn-primary" href="{% url "login" %}">Entrar</a>
			<a class="btn btn-secondary" href="{% url "signup" %}">Cadastre-se</a>
		</form>
	</div>
</nav>
