@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* SETTINGS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --light1: #fff;
    --light2: #fefefe;
    --light3: #f5f5f5;
    --body: #f7f7f7;
    --dark1: #000;
    --dark2: #444444;
    --c1: rgb(0, 98, 255);
    --c2: rgb(0, 145, 255);
}

body {
    padding: 85px 0 0 0; 
    background-color: var(--body);
    color: var(--dark1);
}

section {
    min-height: 63vh;
}

#home-section {
    min-height: 70vh;
}

.navbar {
    height: 85px;
    background-color: var(--light1);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15)
}

ul {
    list-style: none;
}

.success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}

.info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.alert {
    transition: all 1s ease;
}

#taskTable {
    width: 100%;
    border-collapse: collapse;
}

.bi-check-circle-fill {
    color: green;
    font-size: 1.3rem;
}

.bi-x-circle-fill {
    color: red;
    font-size: 1.3rem;
}

.bi-journals, 
.bi-bookmark {
    color: white;
    font-size: 1.1rem;
    margin-left: 3px;
}

.bi-plus-circle-fill {
    color: rgb(0, 115, 255);
    font-size: 1.3rem;
}

footer {
    background-color: #dbdbdb;
    color: rgb(78, 78, 78);
    height: 4.2rem;
}

main {
    padding: 40px 55px;
}

.bi-calendar-check {
    color: white;
    font-size: 1.3rem;
}

.box-shadow-red {
    box-shadow: rgba(255, 0, 0, 0.25) 0px 7px 28px, rgba(255, 0, 0, 0.22) 0px 5px 10px;
}

.box-shadow-blue {
    box-shadow: rgba(0, 150, 255, 0.25) 0px 7px 28px, rgba(0, 150, 255, 0.22) 0px 5px 10px;
}

.box-shadow-green {
    box-shadow: rgba(0, 255, 50, 0.25) 0px 7px 28px, rgba(0, 255, 50, 0.22) 0px 5px 10px;
}

.tasks_shadow {
    box-shadow: rgba(0, 100, 255, 0.25) 0px 7px 28px, rgba(0, 100, 255, 0.22) 0px 5px 10px;
}

.categories_shadow {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 7px 28px, rgba(0, 0, 0, 0.22) 0px 5px 10px;
}

.cardAnimado {
    transition: all .3s ease-in-out;
}

.cardAnimado:hover {
    transform: translateY(-10px);
}

.concluido {
    background-color: #31708f !important;
}