@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* SETTINGS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --light1: #fff;
    --light2: #f2f2f2;
    --light3: #ededed;
    --dark1: #000;
    --dark2: #1f1f1f;
    --c1: rgb(0, 98, 255);
    --c2: rgb(0, 145, 255);
}

body {
    padding-top: 100px;
    background-color: var(--light2);
    color: var(--dark1);
}

.navbar {
    height: 100px;
    padding: 20px 90px;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.222);
}
