{% extends "global/base.html" %} 

{% block title %}Adicionar Tarefas{% endblock title %} 

{% block content %}
    <main>
        <div class="container d-flex align-items-center justify-content-center">
            <form action="{% url "add_task" %}" method="POST" class="mt-4 align-content-center justify-content-center card p-5 w-50">
                {% csrf_token %}
                <h1 class="h2 mb-4 text-center">Adicionar Tarefa</h1>
    
                <div class="mb-3">
                    <label for="title" class="form-label">Título</label>
                    <input type="text" class="form-control" id="title" name="title"/>
                </div>

                <div class="mb-3">
                    <label for="description" class="form-label">Descrição</label>
                    <textarea class="form-control" id="description" name="description" rows="3"></textarea>
                </div>

                <div class="mb-3">
                    <label for="due_date" class="form-label">Prazo</label>
                    <input type="datetime-local" class="form-control" id="due_date" name="due_date"/>
                </div>

                <div class="mb-3">
                    <label for="category" class="form-label">Categoria</label>
                    <select class="form-select" id="task_category" name="task_category" {% if not categories %} disabled {% endif %}>
                        {% for category in categories %}
                            <option {{ category.id }}{% if task.category.id == category.id %} selected {% endif %}>{{ category.name }}</option>
                        {% empty %}
                            <option>Nenhuma categoria disponível</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="mb-3">
                    <label for="priority" class="form-label">Prioridade</label>
                    <select class="form-select" id="priority" name="priority">
                        <option value="B">Baixa</option>
                        <option value="M" selected>Média</option>
                        <option value="A">Alta</option>
                    </select>
                </div>

                <div class="mb-3">
                    <label for="status" class="form-label">Status</label>
                    <select class="form-select" id="status" name="status">
                        <option value="N">Não Iniciado</option>
                        <option value="P" selected>Em Progresso</option>
                        <option value="C">Concluído</option>
                    </select>
                </div>

                <button type="submit" class="btn btn-primary p-2 mt-3">Criar tarefa</button>
            </form>
        </div>
    </main>
{% endblock content %}
