{% extends "global/base.html" %} 

{% block title %}Info{% endblock title %} 

{% block head %}
    <!-- Chart.JS -->
	<script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.0/dist/chart.umd.min.js"></script>
{% endblock head %}

{% block content %}
    <main>
        <div class="container mt-3 align-items-center justify-content-center">
            <div class="row mb-4">
                <h1 class="text-capitalize h2 text-center">Olá, {{ user.username }}!</h1>
            </div>

            <div class="d-flex gap-3 align-items-center justify-content-center flex-column mb-5">
                <div class="d-flex gap-3 align-items-center justify-content-center">
                    <a href="{% url "list_tasks" %}" class="btn btn-primary p-3 mt-5 tasks_shadow">
                        Visualizar tarefas
                        <i class="bi bi-journals"></i>
                    </a>
                    <a href="{% url "list_categories" %}" class="btn btn-dark p-3 mt-5 categories_shadow">
                        Visualizar categorias
                        <i class="bi bi-bookmark"></i>
                    </a>
                </div>

                <div class="d-flex gap-3 align-items-center justify-content-center">
                    <a href="{% url "add_task" %}" class="btn btn-primary p-3 tasks_shadow">
                        Adicionar uma nova tarefa
                        <i class="bi bi-plus-square"></i>
                    </a>

                    <a href="{% url "add_category" %}" class="btn btn-dark p-3 categories_shadow">
                        Adicionar uma nova categoria
                        <i class="bi bi-plus-square"></i>
                    </a>
                </div>
            </div>

            <div class="row d-flex align-items-center justify-content-center my-5 py-5 h-25">
                <div class="row text-center">
                    <div class="col-md-4 mb-3">
                        <div class="card h-100 cardAnimado">
                            <div class="card-body box-shadow-blue">
                                <h5 class="card-title">Total de Tarefas</h5>
                                <p class="card-text">{{ total_tasks }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <div class="card h-100 cardAnimado">
                            <div class="card-body box-shadow-red">
                                <h5 class="card-title">Tarefas Pendentes</h5>
                                <p class="card-text">{{ pendent_tasks }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <div class="card h-100 cardAnimado">
                            <div class="card-body box-shadow-green">
                                <h5 class="card-title">Tarefas Concluídas</h5>
                                <p class="card-text">{{ tasks_completed }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {% if total_tasks != 0 %}
                <div class="row d-flex justify-content-center align-items-center">
                    <div class="chart-container mt-5" style="width: 40%">
                        <canvas id="myChart"></canvas>
                    </div>
                </div>
            {% endif %}    
        </div>
    </main>

    <script>
        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'doughnut', 
            data: {
                labels: ['Tarefas Pendentes', 'Tarefas Concluídas'],
                datasets: [{
                    label: 'Distribuição de Tarefas', 
                    data: [{{ pendent_tasks }}, {{ tasks_completed }}],
                    backgroundColor: [
                        'rgba(255, 0, 0, 1)', 
                        'rgba(0, 255, 0, 1)'  
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                plugins: {
                    legend: {
                        display: true,
                        position: "top",
                    },
                    title: {
                        display: false,
                        text: 'Estatísticas Gerais',
                        padding: {
                            bottom: 20
                        },
                        font: {
                            size: 24
                        }
                    },   
                }
            },
        });
    </script>
{% endblock content %}
