{% extends "global/base.html" %} 

{% block title %}Lista de Tarefas{% endblock title %} 

{% block head %}
    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>

    <!-- DataTables CSS -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.css" />

    <!-- DataTables JS -->
    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.js"></script>

    <!-- DataTables Bootstrap -->
    <script src="https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap5.min.js"></script>
{% endblock head %}

{% block content %}
    <main>
        <div class="container">
            {% if tasks %}
            <table class="table text-center table-bordered table-hover" style="width: 100%;" id="taskTable">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Título</th>
                        <th scope="col">Descrição</th>
                        <th scope="col">Categoria</th>
                        <th scope="col">Prioridade</th>
                        <th scope="col">Prazo</th>
                        <th scope="col">Status</th>
                        <th scope="col">Ações</th>
                    </tr>
                </thead>

                <tbody style="vertical-align: middle;">
                    {% for task in tasks %}
                        <tr>
                            <th scope="row">
                                <a class="link-underline link-underline-opacity-0 link-dark fw-bold" href="{% url "edit_task" task.id %}">{{ forloop.counter }}</a>
                            </th>
                            <td>
                                <a class="link-underline link-underline-opacity-0 link-dark fw-medium" href="{% url "edit_task" task.id %}">{{ task.title }}</a>
                            </td>
                            <td>{{ task.description }}</td>
                            <td>{{ task.category.name }}</td>
                            <td>{{ task.get_priority_display }}</td>
                            <td>{{ task.formatted_due_date }}</td>
                            <td>{{ task.get_status_display }}</td>
                            <td>
                                <form action="{% url "conclude_task" task.id %}" method="POST">
                                    {% csrf_token %}
                                    <i class="bi bi-check-circle-fill" onclick="this.closest('form').submit();" style="cursor: pointer;"></i>
                                </form>
                            
                                <a href="{% url "delete_task" task.id %}" onclick="return confirm('Tem certeza que deseja excluir esta tarefa?');"><i class="bi bi-x-circle-fill"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p class="text-center mt-4">Nenhuma tarefa encontrada. Comece adicionando uma nova tarefa!</p>
        {% endif %}
        </div>
    </main>

    <script>
        $(document).ready( function () {
            
            var table = $('#taskTable');

            table.DataTable({
                    searching: false,
                    paging: false,
                    select: true,
                    ordering: true,
                    scrollY: 430,
                    language: {
                        "lengthMenu": "Mostrando _MENU_ registros por página",
                        "info": "Mostrando página _PAGE_ de _PAGES_",
                        ""
                    }
            });
        })
    </script>
{% endblock content %}
