{% extends "global/base.html" %} 

{% block title %}Lista de Categorias{% endblock title %} 

{% block head %}
    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>

    <!-- DataTables CSS -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.css" />

    <!-- DataTables JS -->
    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.js"></script>

    <!-- DataTables Bootstrap -->
    <script src="https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap5.min.js"></script>
{% endblock head %}

{% block content %}
    <main>
        <div class="container-fluid">
            {% if categories %}
            <table class="table table-secondary cell-border w-100 text-center fw-medium" id="categoryTable" style="box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">Nome da Categoria</th>
                        <th scope="col">Cor</th>
                        <th scope="col">Ações</th>
                    </tr>
                </thead>

                <tbody style="vertical-align: middle;">
                    {% for category in categories %}
                        <tr>
                            <td class="p-4">
                                <div class="d-flex align-items-center justify-content-center">
                                    <div class="d-flex align-items-center justify-content-center gap-4">
                                        <div class="d-flex align-items-center justify-content-center">
                                            <a class="link-dark link-underline link-underline-opacity-0 fw-bold" href="{% url "edit_category" category.id %}">{{ category.name }}</a>
                                        </div>
                                        <div class="position-relative d-flex align-items-center justify-content-center">
                                            <i class="bi bi-tag fs-4 position-absolute z-1"></i>
                                            <i class="bi bi-tag-fill fs-4 position-absolute" style="color: {{ category.color }};"></i>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td class="color-cell text-uppercase" data-color="{{ category.color }}" style="background-color: {{ category.color }};">
                                {{ category.color }}
                            </td>
                            <td>
                                <div class="d-flex align-items-center justify-content-center position-relative">
                                    <a href="{% url "delete_category" category.id %}" onclick="return confirm('Tem certeza que deseja excluir esta categoria?');" class="link-dark d-flex align-items-center justify-content-center">
                                        <i class="bi bi-x-circle position-absolute fs-4 z-1 text-dark"></i>
                                        <i class="bi bi-x-circle-fill position-absolute fs-4  text-danger"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p class="text-center mt-4">Nenhuma categoria encontrada. Comece adicionando uma nova categoria!</p>
        {% endif %}
        </div>
    </main>

    <script>
        $(document).ready( function () {
            document.querySelectorAll('.color-cell').forEach(function(cell) {
                var hexColor = cell.getAttribute('data-color');

                if (isLightColor(hexColor)) {
                    cell.style.color = 'black';
                } else {
                    cell.style.color = 'white';
                }
            });
        
            function isLightColor(hex) {
                var r = parseInt(hex.substr(1, 2), 16);
                var g = parseInt(hex.substr(3, 2), 16);
                var b = parseInt(hex.substr(5, 2), 16);
    
                var lum = (r * 299 + g * 587 + b * 114) / 1000;
    
                return lum > 128;
            }

            var table = $('#categoryTable');

            table.DataTable({
                searching: false,
                paging: false,
                select: true,
                ordering: true,
                language: {
                    lengthMenu: "Mostrar _MENU_ registros por página",
                    zeroRecords: "Nada encontrado",
                    info: "",
                    infoEmpty: "",
                    infoFiltered: "",
                    search: "Buscar:",
                    paginate: {
                        first: "Primeiro",
                        last: "Último",
                        next: "Próximo",
                        previous: "Anterior"
                    },
                    aria: {
                        sortAscending:  ": ativar para ordenar a coluna em ordem crescente",
                        sortDescending: ": ativar para ordenar a coluna em ordem decrescente"
                    }
                },

                "columnDefs": [
                    { "width": "30%", "targets": 0 },
                    { "width": "60%", "targets": 1 },
                    { "width": "10%", "targets": 2 },
                ]    
            })
        })
    </script>
{% endblock content %}
